@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');

body{
    background-color: black;
    margin: 15px 30px;
    font-family: 'Yusei Magic';
    text-align: center;
    color: #ffeeff;
}

.buttons{
    margin-bottom: 30px;
}

/* Game Board */
.tile { 
    position: relative;
    transform-style: preserve-3d;
    transform: scale(1);
}
.tile:active{
    transform: scale(0.95);
    transition: 0.4s;
}

.tile-boards{
    perspective: 500px;
}

.tile img{
    width: 95%;
    height: 95%;
    border-radius: 10%;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
}

/*.flip{

}*/

@media only screen and (min-width: 992px) {
.tile-boards{
margin-left: 150px;
margin-right: 150px;
}
}

@media only screen and (min-width: 1200px) {
.tile-boards{
margin-left: 200px;
margin-right: 200px;
}
}

@media only screen and (min-width: 1400px) {
.tile-boards{
margin-left: 400px;
margin-right: 400px;
}
}